body {
    margin: 0;
    padding: 0;
    background: #ccc;
  
        
  }
   
  .nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top:-155px
    
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    line-height: 40px;
    height: 80px;
    border-bottom: 1px solid #444;
  }
   
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    background-color: #393d3d;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
    
  }
   
  @media screen and (min-width: 600px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1em;
    }
   
    
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
   
    
  }
  body{
      background-color: #444;
  }

h1{
    font-size: 5em;
    text-align: center;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
    color: black;
    margin: 40px;
}

img {
    height: 200px;
    width: 200px;
    flex: 66mm;
    align-items: baseline;
    position: relative;
    top: 100px;
    left: 560px;
    

}

 h2{
    font-size: 1em;
    text-align: center;
    color: violet;
    font-family: 'Oswald', sans-serif;
    margin: -50px
 }


.tabon{
    align-items: baseline;
    justify-content: center;
    align-content: center;


}
.flex-container{
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  background: rgb(71, 71, 70);
  justify-content: center;
  align-items: center;
 
  border-block-color: pink;
  
 
}
.box {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 20%;
  background:  pink;
  margin: 20px;
  box-sizing: border-box;
  font-size: 50px;


}